:root {
    --bg-dark: #1e1e1e;
    --sidebar-bg: #252526;
    --accent-color: #007acc;
    --text-color: #d4d4d4;
    --border-color: #3e3e42;
}

body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: var(--bg-dark);
    color: var(--text-color);
    height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    height: 100%;
}

/* Khu vực đồ thị */
.graph-area {
    flex: 1;
    position: relative;
    background-color: #111;
}

#network {
    width: 100%;
    height: 100%;
}

.overlay-info {
    position: absolute;
    top: 20px;
    left: 20px;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px 15px;
    border-radius: 5px;
    pointer-events: none;
    font-size: 13px;
    color: #4ec9b0;
    border: 1px solid #4ec9b0;
}

/* Sidebar */
.sidebar {
    width: 320px;
    background-color: var(--sidebar-bg);
    border-left: 1px solid var(--border-color);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: auto;
    box-shadow: -2px 0 10px rgba(0,0,0,0.3);
}



.app-title {
    color: var(--text-color);
    font-weight: 600;
    font-size: 25px;
    text-transform: center;
    letter-spacing: 1px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
}

/* Slider & Inputs */
.slider-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

input[type="range"] { flex: 1; }
.badge {
    background: var(--accent-color);
    padding: 2px 8px;
    border-radius: 4px;
    font-size: 12px;
}

select, input[type="number"] {
    width: 100%;
    padding: 8px;
    background: #3c3c3c;
    border: 1px solid var(--border-color);
    color: white;
    border-radius: 4px;
    margin-bottom: 5px;
    box-sizing: border-box;
}

/* Buttons */
button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 5px;
    transition: 0.2s;
}

.btn-action { background-color: #444; color: white; }
.btn-action:hover { background-color: #555; }

.btn-primary { background-color: var(--accent-color); color: white; }
.btn-primary:hover { background-color: #0062a3; }

.btn-secondary { background-color: transparent; border: 1px solid #555; color: #aaa; }
.btn-secondary:hover { color: white; border-color: white; }

/* Info Boxes */
.algo-desc { font-size: 12px; color: #888; font-style: italic; margin-bottom: 10px; }
.result-box {
    background: #333;
    padding: 10px;
    border-radius: 4px;
    font-size: 13px;
    min-height: 40px;
    color: #ce9178; /* Code color syntax look */
}

.user-card {
    background: #2d2d2d;
    padding: 10px;
    border-radius: 4px;
    border-left: 3px solid var(--accent-color);
}

hr { border: 0; border-top: 1px solid var(--border-color); margin: 10px 0; }